h1{
    color: red;
    font-size: 56px;
}
img{
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center;
background-size: cover;
height: fit-content;
width: 220px;
display: flex;
justify-content: center;
}